@model IEnumerable<Domain.AssetType>

@{
    ViewData["Title"] = "Index";
}

<h3>List of Asset Types</h3>

<p>
    <a asp-action="Create">Create New Asset Type</a>
</p>
<table class="table col-6">
    <thead>
        <tr>
   
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
   
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
      
        </tr>
}
    </tbody>
</table>
